@model IEnumerable<SGFR_Web.ViewModels.ProdutoViewModel>
{
    ViewBag.Title = "Produto";
  
}
<p></p>
@*@using (Html.BeginForm())
{
    <form class="form-horizontal" role="form">
        <table class="table">
            <tr>
                <td> Descricao</td>
                <td>@Html.TextBoxFor(model => model.Produto)</td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>@Html.TextBoxFor(model => model.Cidade)</td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>@Html.TextBoxFor(model => model.Estado)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="search" title="Pesquisar" value="Pesquisar" />
                </td>
            </tr>
        </table>
    </form>
    <div id="resultadoPesquisa">
        @grid.GetHtml(
        fillEmptyRows: true,alternatingRowStyle: "alternate-row",headerStyle: "grid-header",footerStyle: "grid-footer",
        columns: new[] {
            grid.Column("Nome"),
            grid.Column("Cidade"),
            grid.Column("Estado")
    })
    </div>*@
}